.title-head {
  font-size: 5rem !important;
  text-align: center;
  font-family: Futura, Poppins, Avenir system-ui;
  color: white;
  font-weight: 500;
}
.demonstrationtext {
  font-family: Avenir Next, Avenir system-ui;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}
.button {
  border: 2px solid #00A896;
  transition-duration: 0.4s
}
.questionslink {
  color: #4944e3;
}
.questionslink:hover {
  transition: 0.7s;
  color: #00A896;
}
.button:hover {
  background-color: #00A896;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.footer {
  font-family: Avenir Next, Avenir system-ui;
  font-size: 1.5rem;
}
.homeof {
  font-family: Avenir Next, Avenir system-ui;
  font-size: 1.3rem;
}
.accountlink {
  color: #4944e3;
  padding-left: 46%;
  padding-right: 46%;
}
.accountlink:hover {
  transition-duration: 0.6s;
  color: #00A896;
}
.navigation {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}
.navlink {
  color: #4944e3;
}
.navlink:hover {
  transition-duration: 0.5s;
  color: white;
}
.chromeextension {
  color: #4944e3;
}
.chromeextension:hover {
  transition-duration: 0.7s;
  color: #00A896;
}
.newboxdemonstration {
  background-color: #ffdc89;
  font-family: Futura;
  font-size: 2rem;
  margin-right: 11rem;
  margin-left: 11rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 500;
  border-radius: 100px;
  padding: 10px;
}
.indexfooterlink {
  color: white;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 44%;
  margin-right: 44%;
  padding-bottom: 0;
}
.indexfooterlink:hover {
  transition-duration: 0.7s;
  color: #00A896;
}
.neon {
  text-decoration: none; 
  color: white;
  font-family: Futura, Avenir, system-ui;
  font-eight: 500;
  font-size: 1.3rem;
}
.neon:hover {
  transition-duration: 1s;
  color: black;
}
.meet {
  font-family: Nunito;
  font-size: 3.5rem;
  font-weight: 900;
  color: #ffb400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.bookworm {
  padding: 10px;
  border-radius: 10px;
  background-color: #e0e6ed;
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 2rem;
  font-family: Futura, Avenir;
  padding: 10px;
  text-align: center;
}
.signinexampletext {
  font-family: Avenir Next, Avenir system-ui;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}
.blurb {
  font-family: Avenir Next, Avenir, system-ui;
  color: black;
  font-size: 1.5rem;
  margin: 3rem;
}
.navigation > li {
    list-style-type: none;
  display: inline;
}

.encourage {
  padding: 10px;
  border-radius: 10px;
  background-color: #ffdc89;
  font-family: Futura;
  font-size: 2rem;
  color: #273444;
  margin-right: 6rem;
  margin-left: 6rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 500;
}
#sidebar {
  position: fixed;
  top: 325px;
  width: 10%;
  float: left;
  left: 0;
  overflow: hidden;
  z-index: 0;
}
#side1 {
  clear: both;
  float: left;
  background-color: white;
  display: inline-block;
}
.getitnow {
  padding: 20px;
  border-radius: 90px;
  background-color: #e0e6ed;
  font-family: Futura;
  font-size: 2rem;
  color: #273444;
  margin-right: 6rem;
  margin-left: 6rem;
  text-align: center;
  margin-botton: 3rem;
  font-weight: 500;
}

.animate {
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}
.banner {
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
  background-color: #00A896;
  color: black;
  z-index: 4;
  left: 0;
  right: 0;
  top: 200px;
  height: 50px;
  text-align: center;
  padding: 10px;
  -webkit-animation: banneranimation 5s infinite;
  animation: banneranimation 5s infinite;
}
@-webkit-keyframes banneranimation {
  0% {
    background-color: #00A896;
  }
  25% {
    background-color: #4944e3;
  }
  50% {
    background-color: #bf6856;
  }
  75% {
    background-color: #fcb603;
  }
  100% {
    background-color: #00A896;
  }
}
@keyframes banneranimation {
  0% {
    background-color: #00A896;
  }
  25% {
    background-color: #4944e3;
  }
  50% {
    background-color: #bf6856;
  }
  75% {
    background-color: #fcb603;
  }
  100% {
    background-color: #00A896;
  }
}

/* i didnt know we were using an external stylesheet (courtesy of the other programmer CW) until it actually happened. lol. */

@media screen and (max width: 990px) {
  .blurb {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    .meet {
      margin-left: 2.2rem !important;
      margin-right: 2.2rem !important;
      
    }
    .encourage {
      margin-left: 2.2rem !important;
      margin-right: 2.2rem !important;
    }
    .banner {
      margin: 1rem !important;
    }
  }
}

.editing {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #4944e3;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}
.editing:hover {
  transition-duration: 0.6s;
  color: #00A896;
}

/* Pb idyrulwh Glvqhb prylh...Ndwh lv Wdqjohg; Vrskld lv Iurchq, Wrb Vwrub, Wdqjohg. */
